
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: 255 255 255;
  --fg: 24 24 27;
}

html, body {
  color: rgb(var(--fg));
  background: rgb(var(--bg));
}

a {
  @apply underline-offset-4;
}
